/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 + p {
	font-size: 18px;
	margin-top: 9px;
	color: #f4df12;
}

h1 {
	color: #f4e015;
} 



.sidebar {
	background-color: darkgray;
	width: 18%;
	height: 1000px;
	padding: 10px;
	position: fixed;
	border-right: 5px solid lightgray;
}

.mainPicture {
	background: url(../img/cp2.jpg);
	background-repeat: no-repeat;
	background-size: 147px 70px; 
	height: 70px;
	width: 150px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
}

.sidebar-btn {
	background-color: #8bc1fd;
	padding: 5px;
	margin: 5px auto;
	text-align: center;
	max-width: 100%;
	list-style: none;
	border: 2px solid black;
}

.sidebar-btn a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/**
*
*
* Main contents
*
*/

.home {
	background: url(../img/sf1.png);
	background-size: cover;
	height: 900px;
	width: 122%;
	font-size: 30px;
	font-weight: bold;
}

.about {
	background: url(../img/mg1.jpg);
	background-position: center;
	background-size: cover;
	height: 900px;
	width: 122%;
	font-size: 30px;
	font-weight: bold;
}

.services {
	background: url(../img/re1.jpg);
	background-size: cover;
	height: 900px;
	width: 122%;
	font-size: 30px;
	font-weight: bold;
}

.projects {
	background: url(../img/mw1.jpg);
	background-size: cover;
	height: 900px;
	width: 122%;
	font-size: 30px;
	font-weight: bold;
}

.contact {
	background: url(../img/cp1.jpg);
	background-size: cover;
	height: 900px;
	width: 122%;
	font-size: 30px;
	font-weight: bold;
}


/*
*
* Contents
*
*/


.homeFrame {
	/*background-color: yellow;*/
	height: 300px;
	width: 65%;
	margin: 20% auto;
	border: 10px solid #f4df12;
	text-align: center;
	padding: 50px;
}

h2 + p {
	color: white;
	font-size: 18px;

}

h2 {
	color: white;
	height: 10%
}

/*Javascript*/

#toggleIcon,
#toggleIcon1 {
	background-color: red;
	position: fixed;
	top: 0;
	left: 18%;
	padding: 15px;
	z-index: 1;
	color: white;
	font-size: 2em;
	cursor: pointer;
}

#toggleIcon1 {
	left: 0%;
}

main {
	width: 82%;
}